.idea/
.vscode/

terraform/.terraform/
terraform/.tfvars
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform.tfstate.lock.info

function-source/dist/
function-source/node_modules/